<div class="container">
    <div class="head" >
        <div><h1>Experiencia Laboral</h1></div>
        <div class="agregar"><button type="button" class="btn btn-primary right-btn btnAgregar" data-toggle="button" aria-pressed="false" routerLink="/newexpericialab" *ngIf="isLogged">
            <i class="bi bi-plus-circle-fill"></i> Añadir
        </button>
        </div>
    </div>
    <div>
        <table class="table">
            <tbody *ngFor="let experiencia of experienciaLaboral.reverse()">
                <tr>
                    <td>
                        <div class="row" *ngIf="isLogged">
                            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 d-flex align-items-center">
                                <div>
                                    <h3><strong>- {{experiencia.nombreE}}</strong></h3>
                                    <p>{{experiencia.descripcionE}}</p>
                                </div>
                            </div>
                            
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <div class="text-center">
                                    <button type="button" class="btn btn-success boton" data-toggle="button" aria-pressed="false"
                                        routerLink="/editexp/{{experiencia.id}}" *ngIf="isLogged"> <i
                                            class="bi bi-pencil-fill"></i> </button>
                                    <button type="button" class="btn btn-danger boton" *ngIf="isLogged"
                                        (click)="experiencia.id !== undefined ? delete(experiencia.id) : null">
                                        <i class="bi bi-trash-fill"></i> </button>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="!isLogged">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex align-items-center">
                                <div>
                                    <h3><strong>- {{experiencia.nombreE}}</strong></h3>
                                    <p>{{experiencia.descripcionE}}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
